<div class="mx-popup-outer-box mx-popup-step01" id="popup-steps">
	<div class="mx-popup-box">
		<a href="" class="mx-btn-action-ico mx-ico-close js-popup-close"></a>
		<a href="" class="mx-btn-action-back js-popup-back">
			<span class="button-title">Назад</span>
		</a>
		<!--step 01-->
		<div class="mx-popup-step-box" data-step="step01">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-title">Примерочная</div>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-catalog-box">
					<div class="mx-items-wrap">
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat01.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Molly Midi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat02.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Rychi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat03.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Ilvaro</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">70 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat04.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">хит</div>
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Stanly</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat01.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Molly Midi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat02.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Rychi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat03.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Ilvaro</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">70 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat04.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">хит</div>
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Stanly</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
					</div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn js-popup-step-next">Записаться на&nbsp;примерку</a>
			</div>
		</div>
		<!--end step 01-->
		<!--step 02-->
		<div class="mx-popup-step-box" data-step="step02">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-logo">
					<img src="./img/logo.svg" alt="">
				</div>
				<div class="mx-popup-title">Запись на примерку</div>
				<p>Мы находимся в Москве по адресу:</p>
				<p>ул. Нижняя Сыромятническая, д. 10, стр. 9</p>
				<p><a href="tel:86786787778" class="mx-link-phone">8 (678) 678–77–78</a></p>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-datetime-box">
					<div class="mx-popup-subtitle">Выберите дату и&nbsp;время</div>
					<div class="mx-datetime-slider">
						<div class="mx-slider">
							
						</div>
					</div>
					<div class="mx-popup-info">Если вы не нашли удобного для вас времени, позвоните по номеру указанному на сайте, и наши сотрудники, запишут вас на примерку!</div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn js-popup-step-next">Продолжить</a>
			</div>
		</div>
		<!--end step 02-->
		<!--step 03-->
		<div class="mx-popup-step-box" data-step="step03">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-logo">
					<img src="./img/logo.svg" alt="">
				</div>
				<div class="mx-popup-title">Запись на примерку</div>
				<p>Мы находимся в Москве по адресу:</p>
				<p>ул. Нижняя Сыромятническая, д. 10, стр. 9</p>
				<p><a href="tel:86786787778" class="mx-link-phone">8 (678) 678–77–78</a></p>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-popup-subtitle">Время и дата</div>
				<div class="mx-popup-selected">
					<div class="mx-elm-datetime">10:00, 23&nbsp;марта, четверг</div>
				</div>
				<form action="/" class="mx-frm-wrap">
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<input type="text" class="mx-form-input" placeholder="Имя">
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<input type="tel" class="mx-form-input" placeholder="+7 (___) ___ - __ - __">
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field mx-field-info">
							<p>На этот номер вы получите СМС с кодом для подтверждения</p>
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<button class="mx-btn mx-button-border">Получить код</button>
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<textarea class="mx-form-input" placeholder="Ваше сообщение"></textarea>
						</div>
					</div>
				</form>
			</div>
			<div class="mx-popup-footer-wrap">
				<div class="mx-popup-info">Нажимая «Записаться», я принимаю условия пользовательского соглашения, положение о защите персональных данных и даю своё согласие на обработку персональных данных</div>
				<a href="" class="mx-btn js-popup-step-next">Записаться</a>
			</div>
		</div>
		<!--end step 03-->
		<!--step 04-->
		<div class="mx-popup-step-box" data-step="step04">
			<div class="mx-popup-content-wrap">
				<div class="mx-popup-pic">
					<img src="./img/popup.svg" alt="">
				</div>
				<div class="mx-popup-result">
					<div class="mx-popup-subtitle">Вы успешно записались на&nbsp;примерку!</div>
					<div class="mx-popup-selected">
						<div class="mx-elm-datetime">10:00, 23&nbsp;марта, четверг</div>
					</div>
					<div class="mx-popup-result-title">Свадебный салон «Дом&nbsp;Весты»</div>
					<p>Ждём вас&nbsp;в&nbsp;салоне по&nbsp;адресу:</p>
					<p class="mx-text-large">г.&nbsp;Москва, ул.&nbsp;Большие Каменщики, д.&nbsp;6, стр&nbsp;1</p>
					<div class="mx-popup-link"><a href="">Показать на&nbsp;карте</a></div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn mx-button-border js-popup-step-next">Ждите, скоро буду</a>
			</div>
		</div>
		<!--end step 04-->
	</div>
</div><!--/popup-outer-box-->