<div class="mx-popup-outer-box mx-popup-step02" id="popup-steps">
	<div class="mx-popup-box">
		<a href="" class="mx-btn-action-ico mx-ico-close js-popup-close"></a>
		<a href="" class="mx-btn-action-back js-popup-back">
			<span class="button-title">Назад</span>
		</a>
		<!--step 01-->
		<div class="mx-popup-step-box" data-step="step01">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-title">Примерочная</div>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-catalog-box">
					<div class="mx-items-wrap">
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat01.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Molly Midi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat02.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Rychi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat03.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Ilvaro</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">70 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat04.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">хит</div>
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Stanly</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat01.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Molly Midi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat02.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Rychi</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat03.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Ilvaro</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price">70 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
						<!--item wrap-->
						<div class="mx-item-wrap">
							<div class="mx-item-tile-catalog">
								<div class="mx-tile-photo-wrap">
									<a href="" class="mx-tile-photo mx-photo-cover">
										<img src="./img/cat04.jpg" alt="">
									</a>
									<div class="mx-tile-photo-action">
										<a href="" class="mx-btn mx-button-second">Посмотреть</a>
									</div>
									<div class="mx-tile-actions-wrap">
										<div class="mx-tile-ico mx-tile-ico-close"></div>
									</div>
									<div class="mx-tile-stickers-wrap">
										<div class="mx-tile-sticker">хит</div>
										<div class="mx-tile-sticker">sale</div>
									</div>
								</div>
								<div class="mx-tile-info-wrap">
									<div class="mx-tile-title"><a href="">Свадебное платье Stanly</a></div>
									<div class="mx-tile-prices">
										<div class="mx-tile-price mx-price-old">85 000₽</div>
										<div class="mx-tile-price mx-price-new">75 000₽</div>
									</div>
								</div>
							</div>
						</div>
						<!--/item wrap-->
					</div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn js-popup-step-next">Записаться на&nbsp;примерку</a>
			</div>
		</div>
		<!--end step 01-->
		<!--step 02-->
		<div class="mx-popup-step-box" data-step="step02">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-logo">
					<img src="./img/logo.svg" alt="">
				</div>
				<div class="mx-popup-title">Запись на примерку</div>
				<p>Мы находимся в Москве по адресу:</p>
				<p>ул. Нижняя Сыромятническая, д. 10, стр. 9</p>
				<p><a href="tel:86786787778" class="mx-link-phone">8 (678) 678–77–78</a></p>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-datetime-box">
					<div class="mx-popup-subtitle">Выберите дату и&nbsp;время</div>
					
					<div class="mx-slider-date-box">
						<div class="mx-slider-title">Март 2023</div>
						<div class="mx-slider-wrap">
							<div class="mx-slider">
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Пн</div>
									<div class="mx-sl-date">20</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-01" disabled>
										<label for="time-01">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-02">
										<label for="time-02">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-03">
										<label for="time-03">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-04">
										<label for="time-04">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-05" disabled>
										<label for="time-05">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-06">
										<label for="time-06">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-07">
										<label for="time-07">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Вт</div>
									<div class="mx-sl-date">21</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-08">
										<label for="time-08">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-09">
										<label for="time-09">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-10" disabled>
										<label for="time-10">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-11">
										<label for="time-11">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-12">
										<label for="time-12">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-13">
										<label for="time-13">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-14" disabled>
										<label for="time-14">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Ср</div>
									<div class="mx-sl-date">22</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-15">
										<label for="time-15">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-16" disabled>
										<label for="time-16">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-17" disabled>
										<label for="time-17">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-18">
										<label for="time-18">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-19">
										<label for="time-19">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-20">
										<label for="time-20">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-21">
										<label for="time-21">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Чт</div>
									<div class="mx-sl-date">23</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-22">
										<label for="time-22">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-23">
										<label for="time-23">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-24">
										<label for="time-24">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-25">
										<label for="time-25">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-26">
										<label for="time-26">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-27">
										<label for="time-27">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-28">
										<label for="time-28">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Пт</div>
									<div class="mx-sl-date">24</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-29">
										<label for="time-29">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-30">
										<label for="time-30">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-31">
										<label for="time-31">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-32">
										<label for="time-32">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-33">
										<label for="time-33">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-34">
										<label for="time-34">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-35">
										<label for="time-35">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Сб</div>
									<div class="mx-sl-date">25</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-36">
										<label for="time-36">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-37">
										<label for="time-37">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-38">
										<label for="time-38">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-39">
										<label for="time-39">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-40">
										<label for="time-40">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-41">
										<label for="time-41">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-42">
										<label for="time-42">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Вс</div>
									<div class="mx-sl-date">26</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-43">
										<label for="time-43">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-44">
										<label for="time-44">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-45">
										<label for="time-45">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-46">
										<label for="time-46">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-47">
										<label for="time-47">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-48">
										<label for="time-48">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-49">
										<label for="time-49">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Пн</div>
									<div class="mx-sl-date">20</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-50">
										<label for="time-50">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-51">
										<label for="time-51">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-52">
										<label for="time-52">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-53">
										<label for="time-53">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-54">
										<label for="time-54">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-55">
										<label for="time-55">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-56">
										<label for="time-56">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Вт</div>
									<div class="mx-sl-date">21</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-57">
										<label for="time-57">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-58">
										<label for="time-58">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-59">
										<label for="time-59">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-60">
										<label for="time-60">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-61">
										<label for="time-61">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-62">
										<label for="time-62">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-63">
										<label for="time-63">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Ср</div>
									<div class="mx-sl-date">22</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-64">
										<label for="time-64">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-65">
										<label for="time-65">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-66">
										<label for="time-66">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-67">
										<label for="time-67">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-68">
										<label for="time-68">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-69">
										<label for="time-69">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-70">
										<label for="time-70">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Чт</div>
									<div class="mx-sl-date">23</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-71">
										<label for="time-71">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-72">
										<label for="time-72">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-73">
										<label for="time-73">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-74">
										<label for="time-74">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-75">
										<label for="time-75">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-76">
										<label for="time-76">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-77">
										<label for="time-77">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Пт</div>
									<div class="mx-sl-date">24</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-78">
										<label for="time-78">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-79">
										<label for="time-79">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-80">
										<label for="time-80">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-81">
										<label for="time-81">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-82">
										<label for="time-82">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-83">
										<label for="time-83">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-84">
										<label for="time-84">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Сб</div>
									<div class="mx-sl-date">25</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-85">
										<label for="time-85">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-86">
										<label for="time-86">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-87">
										<label for="time-87">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-88">
										<label for="time-88">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-89">
										<label for="time-89">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-90">
										<label for="time-90">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-91">
										<label for="time-91">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
								<!--mx-sl-wrap-->
								<div class="mx-sl-wrap">
									<div class="mx-sl-week">Вс</div>
									<div class="mx-sl-date">26</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-92">
										<label for="time-92">10:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-93">
										<label for="time-93">12:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-94">
										<label for="time-94">14:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-95">
										<label for="time-95">16:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-96">
										<label for="time-96">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-97">
										<label for="time-97">18:00</label>
									</div>
									<div class="mx-frm-select-time">
										<input type="radio" name="time" id="time-98">
										<label for="time-98">20:00</label>
									</div>
								</div>
								<!--/mx-sl-wrap-->
							</div>
						</div>
					</div>
					<div class="mx-popup-info">Если вы не нашли удобного для вас времени, позвоните по номеру указанному на сайте, и наши сотрудники, запишут вас на примерку!</div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn js-popup-step-next">Продолжить</a>
			</div>
		</div>
		<!--end step 02-->
		<!--step 03-->
		<div class="mx-popup-step-box" data-step="step03">
			<div class="mx-popup-title-wrap">
				<div class="mx-popup-logo">
					<img src="./img/logo.svg" alt="">
				</div>
				<div class="mx-popup-title">Запись на примерку</div>
				<p>Мы находимся в Москве по адресу:</p>
				<p>ул. Нижняя Сыромятническая, д. 10, стр. 9</p>
				<p><a href="tel:86786787778" class="mx-link-phone">8 (678) 678–77–78</a></p>
			</div>
			<div class="mx-popup-content-wrap">
				<div class="mx-popup-subtitle">Время и дата</div>
				<div class="mx-popup-selected">
					<div class="mx-elm-datetime">10:00, 23&nbsp;марта, четверг</div>
				</div>
				<form action="/" class="mx-frm-wrap">
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<input type="text" class="mx-form-input" placeholder="Имя">
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<input type="tel" class="mx-form-input" placeholder="+7 (___) ___ - __ - __">
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field mx-field-info">
							<p>На этот номер вы получите СМС с кодом для подтверждения</p>
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<button class="mx-btn mx-button-border">Получить код</button>
						</div>
					</div>
					<div class="mx-frm-row">
						<div class="mx-frm-field">
							<textarea class="mx-form-input" placeholder="Ваше сообщение"></textarea>
						</div>
					</div>
					<div class="mx-popup-info">Нажимая «Записаться», я принимаю условия пользовательского соглашения, положение о защите персональных данных и даю своё согласие на обработку персональных данных</div>
				</form>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn js-popup-step-next">Записаться</a>
			</div>
		</div>
		<!--end step 03-->
		<!--step 04-->
		<div class="mx-popup-step-box" data-step="step04">
			<div class="mx-popup-content-wrap">
				<div class="mx-popup-pic">
					<img src="./img/popup.svg" alt="">
				</div>
				<div class="mx-popup-result">
					<div class="mx-popup-subtitle">Вы успешно записались на&nbsp;примерку!</div>
					<div class="mx-popup-selected">
						<div class="mx-elm-datetime">10:00, 23&nbsp;марта, четверг</div>
					</div>
					<div class="mx-popup-result-title">Свадебный салон «Дом&nbsp;Весты»</div>
					<p>Ждём вас&nbsp;в&nbsp;салоне по&nbsp;адресу:</p>
					<p class="mx-text-large">г.&nbsp;Москва, ул.&nbsp;Большие Каменщики, д.&nbsp;6, стр&nbsp;1</p>
					<div class="mx-popup-link"><a href="">Показать на&nbsp;карте</a></div>
				</div>
			</div>
			<div class="mx-popup-footer-wrap">
				<a href="" class="mx-btn mx-button-border js-popup-step-next">Ждите, скоро буду</a>
			</div>
		</div>
		<!--end step 04-->
	</div>
</div><!--/popup-outer-box-->